.adminUsers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    margin: 1rem;
  }
  
  .adminUser {
      flex-basis: 28%;
      margin: 1em;
      padding: 1em;
      border: 1px solid rgb(71, 137, 212);
  }